<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Students</h4>
            <p class="card-category">Enrolled Students</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone No</th>
                  <th>Address</th>
                  <th>CNIC</th>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.cnic }}</td>
                    <td class="text-right">
                      <a
                        routerLink="/user-profile"
                        class="material-icons text-muted"
                        (click)="onEdit(student)"
                      >
                        edit
                      </a>
                      <span class="mx-3"></span>
                      <i
                        class="material-icons text-danger"
                        style="cursor: pointer"
                        (click)="delete(student._id)"
                      >
                        delete
                      </i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
